---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import milo from "@assets/milo/not-impressed-milo.jpg";

const meta = {
	title: "Oops!",
	description:
		"It looks like this page does not exist, kinda like it was sucked into a black hole...",
	imageUrl: "/assets/images/milo/not-impressed-milo.jpg",
};
---

<PageLayout meta={meta}>
	<h1 class="mb-6 title">404 | Page not found</h1>
	<p class="mb-8">You have not impressed Milo</p>
	<div class="grid justify-center my-4">
		<Image src={milo} alt="An inimpressed Milo" />
	</div>
</PageLayout>
