---
import SocialList from "@/components/SocialList";
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "Hello. am Calvin, I live in my terminal",
	image: "@/assets/images/me/milos-at-the-door.jpeg",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>Hello. am Calvin, I live in my terminal</p>
		<ul class="list-disc list-inside">
			<li>I'm endlessly tweaking my home setup</li>
			<li>I have an unfinished Raspberry Pi cluster with 1/4 nodes</li>
			<li>I'm typically swearing <b>A Lot</b></li>
			<li>Am Scottish</li>
		</ul>
		<p>
			This site is mainly for my own technical shit but I might share other cool
			things in my life too
		</p>

		<div class="flex justify-center">
			<SocialList />
		</div>
	</div>
</PageLayout>
