---
import PageLayout from "@/layouts/Base";
import BlogPostPreview from "@/components/BlogPostPreview";
import { sortMDByDate } from "@/util";
import type { Post } from "@/types";

const meta = {
	title: "Home",
	description: "Personal site of an average engineer. I hate computers",
	imageUrl: "images/me/milos-at-the-door.jpeg",
};

const MAX_POSTS = 10;
const allPosts = await Astro.glob<Post>("./posts/*.mdx");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={meta}>
	<section aria-label="Blog post list">
		<h2 class="mb-4 text-xl title">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
						<BlogPostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="mb-4 text-xl title">Technologies</h2>

		<div class="flex max-w-lg flex-wrap">
			<div class="mt-2 mb-2 mr-5">
				<a
					class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400 cactus-link"
					href="https://aws.amazon.com/"
					>AWS
				</a>
			</div>
			<div class="mt-2 mb-2 mr-5">
				<a
					class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400 cactus-link"
					href="https://www.terraform.io/"
					>Terraform
				</a>
			</div>
			<div class="mt-2 mb-2 mr-5">
				<a
					class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400 cactus-link"
					href="https://terragrunt.gruntwork.io/"
					>terragrunt
				</a>
			</div>
			<div class="mt-2 mb-2 mr-5">
				<a
					class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400 cactus-link"
					href="https://docker.io"
					>Docker
				</a>
			</div>
		</div>

		<div class="flex max-w-lg flex-wrap">
			<div class="mt-2 mb-2 mr-5">
				<a
					class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400 cactus-link"
					href="https://symfony.com/"
					>Symfony
				</a>
			</div>
			<div class="mt-2 mb-2 mr-5">
				<a
					class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400 cactus-link"
					href="https://nodejs.org/en/"
					>Node
				</a>
			</div>
		</div>

		<div class="flex max-w-lg flex-wrap">
			<div class="mt-2 mb-2 mr-5">
				<a
					class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400 cactus-link"
					href="https://docs.gitlab.com/ee/ci/"
					>Gitlab CI/CD
				</a>
			</div>
			<div class="mt-2 mb-2 mr-5">
				<a
					class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400 cactus-link"
					href="https://github.com/features/actions"
					>Github Actions
				</a>
			</div>
		</div>
	</section>

	<section class="mt-16">
		<h2 class="mb-4 text-xl title">Interests</h2>

		<div class="flex max-w-lg flex-wrap">
			<div class="mt-2 mb-2 mr-5">
				<a
					class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400 cactus-link"
					href="https://webb.nasa.gov/"
					>James Webb Telescope
				</a>
			</div>
			<div class="mt-2 mb-2 mr-5">
				<a
					class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400 cactus-link"
					href="https://www.reddit.com/r/watercooling/comments/d6y5l1/at_least_my_components_are_cool_right/"
					>Custom PC building
				</a>
			</div>
			<div class="mt-2 mb-2 mr-5">
				<a
					class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400 cactus-link"
					href="https://www.raspberrypi.com/for-home/"
					>Rasberry Pis
				</a>
			</div>
			<div class="mt-2 mb-2 mr-5">
				<a
					class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400 cactus-link"
					href="/posts/djentlemens-club"
					>My Guitars
				</a>
			</div>
			<div class="mt-2 mb-2 mr-5">
				<a
					class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400 cactus-link"
					href="https://open.spotify.com/user/1119093459?si=76eb3af830f743b7"
					>Music
				</a>
			</div>
		</div>
	</section>

	<section class="mt-16">
		<h2 class="mb-4 text-xl title">Disinterests</h2>

		<div class="flex max-w-lg flex-wrap">
			<div class="mt-2 mb-2 mr-5">
				<p>You</p>
			</div>
		</div>
	</section>
</PageLayout>
