---
import Icon from "astro-icon";
---

<div class="flex flex-wrap items-center sm:items-center gap-x-4">
	<p>Find me on</p>
	<ul class="flex items-center flex-1 gap-x-4 sm:flex-initial">
		<li>
			<a
				class="inline-block p-2 sm:hover:text-link"
				href="https://github.com/kolvin"
				target="_blank"
				rel="noopener noreferrer"
			>
				<Icon name="la:github" class="w-6 h-6" />
				<span class="sr-only">Github</span>
			</a>
		</li>
		<li>
			<a
				class="inline-block p-2 sm:hover:text-link"
				href="https://twitter.com/_kolvin"
				target="_blank"
				rel="noopener noreferrer"
			>
				<Icon name="la:twitter" class="w-6 h-6" />
				<span class="sr-only">Twitter</span>
			</a>
		</li>
		<li>
			<a
				class="inline-block p-2 sm:hover:text-link"
				href="https://discordapp.com/users/198564588617203717/"
				target="_blank"
				rel="noopener noreferrer"
			>
				<Icon name="fa-brands:discord" class="w-6 h-6" />
				<span class="sr-only">Discord</span>
			</a>
		</li>
		<li>
			<a class="inline-block p-2 sm:hover:text-link" href="mailto:me@kolv.in">
				<Icon name="eva:email-fill" class="w-6 h-6" />
				<span class="sr-only">Email</span>
			</a>
		</li>
		<li>
			<a
				class="inline-block p-2 sm:hover:text-link"
				href="https://open.spotify.com/user/1119093459?si=76eb3af830f743b7"
			>
				<Icon name="logos:spotify-icon" class="w-6 h-6" />
			</a>
		</li>
		<!--  -->
	</ul>
</div>
